:root {
}

.light-theme {
  --background-color: #fff;
  --base-text-color: #000;
  --base-border-color: #eee;
}
.dark-theme {
  --background-color: #000;
  --base-text-color: #fff;
  --base-border-color: #eee;
}
